.nine {
  width: 1280px;
}

.up {
  margin-top: 20px;
  display: inline-block;
}

.title {
  font-size: 40px;
  color: black;
  margin-left: 200px;
  display: inline;
}

.right {
  display: inline-block;
  margin-left: 125px;
}

.logo {
  width: 100px;
  height: 40px;
  float: right;
  margin-bottom: 40px;
}

.text-container {
  display: inline-block;
}

.text-content {
  margin-left: 200px;
}

.seco {
  margin-left: 150px;
}

.uu {
  display: inline-block;
}

.playLink {
  font-size: 17px;
  font-weight: bold;
  color: blue;
  margin-left: 20px;
}

.play {
  width: 31px;
  height: 24px;
  margin-right: 20px;
}

.content {
  margin-top: 40px;
}

.firstRow {
  display: flex;
  justify-content: space-around;
}

.secondRow {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.block {
  width: 221px;
  height: 189px;
  position: relative;
}

.stackholder {
  background-image: url('../../../public/images/stackholder.png');
}

.empathy {
  background-image: url('../../../public/images/empathy.png');
}

.scenario {
  background-image: url('../../../public/images/scenario.png');
}

.big {
  background-image: url('../../../public/images/stackholder.png');
}

.prio {
  background-image: url('../../../public/images/stackholder.png');
}

.need {
  background-image: url('../../../public/images/stackholder.png');
}

.story {
  background-image: url('../../../public/images/stackholder.png');
}

.assum {
  background-image: url('../../../public/images/stackholder.png');
}

.feed {
  background-image: url('../../../public/images/stackholder.png');
}

.experience {
  background-image: url('../../../public/images/stackholder.png');
}

.info {
  width: 31px;
  height: 31px;
  float: right;
}

.ttt {
  font-size: 25px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ttS {
  margin-top: 25px;
}

.sh {
  top: 40%;
}

.shh {
  margin-top: 15px;
}

.thr {
  margin-top: 40px;
}

.story {
  top: 50%;
}

.foot {
  background-color: pink;
  margin-top: 50px;
}

.ff {
  float: right;
  margin-right: 80px;
  width: 50px;
}

.footT {
  color: black;
  font-size: 20px;
  margin-left: -15px;
}

.s {
  margin-left: 10px;
}

.scale-container {
  transform: scale(0.85); /* This scales the container to 80% of its original size */
  transform-origin: top left; /* This sets the point around which the scaling occurs */
  width: 100%; /* To make sure it takes full width */
  overflow-x: hidden; /* To hide horizontal scrollbar if it appears */
}
